@import "utilities";

.min-height-500 {
  min-height: 500px;
}
.notifications .vue-notifyjs {
  [data-notify="container"] {
    z-index: 99999 !important;
  }
}

.p-component {
  font-family: Overpass;
  font-size: 0.875rem;
}

.p-inputtext {
  height: calc(1.5em + 0.75rem + 2px);
}

.form-control {
  .p-inputtext {
    font-size: inherit;
    font-family: inherit;
    padding: 3px;
  }
}

select.form-control {
  color: #495057;
}

.btn-icon-28 {
  width: 28px;
  height: 28px;
  padding: 0;
  i {
    font-size: 14px;
  }
}

.no-pointer-events {
  pointer-events: none;
}

.book-container {
  padding: 10px;
  background: #fff;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  transition: ease 0.3s all;

  .image {
    width: 100%;
    height: 300px;
    border: 1px solid #d4d4d4;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .content {
  }

  &:hover {
    box-shadow: 0 4px 5px -2px rgba(0, 0, 0, 0.2),
      0 7px 10px 1px rgba(0, 0, 0, 0.14), 0 2px 16px 1px rgba(0, 0, 0, 0.12);
  }
}

.flatpickr-current-month .numInputWrapper {
  top: 9px;
  position: absolute;
  right: 15px;
}

.p-multiselect-label {
  margin-top: -5px;
}

.avatar-upload {
  position: relative;
  .avatar-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px;
    input {
      display: none;
      + label {
        display: inline-block;
        width: 34px;
        height: 34px;
        margin-bottom: 0;
        border-radius: 100%;
        background: #ffffff;
        border: 1px solid transparent;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
        cursor: pointer;
        font-weight: normal;
        transition: all 0.2s ease-in-out;
        &:hover {
          background: #f1f1f1;
          border-color: #d6d6d6;
        }
      }
    }
  }
  .avatar-preview {
    width: 192px;
    height: 192px;
    position: relative;
    border-radius: 100%;
    /* border: 6px solid #f8f8f8; */
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    > div {
      width: 100%;
      height: 100%;
      border-radius: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
.table-fixed-header tbody {
  height: 300px;
  overflow-y: auto;
  width: 100%;
}

.table-fixed-header thead,
.table-fixed-header tbody,
.table-fixed-header tr,
.table-fixed-header td,
.table-fixed-header th {
  display: block;
}

.table-fixed-header tbody td,
.table-fixed-header tbody th,
.table-fixed-header thead > tr > th {
  float: left;
  position: relative;

  &::after {
    content: "";
    clear: both;
    display: block;
  }
}
